<div id="<%= dom_id @group %>" data-controller="modal">

<%= link_to "#{@group.name}...", user_posts_path(current_user, group_id: @group.id), class: "subtitle text-xl text-sky-700 m-3", data: {turbo_stream: ""} %>
<div class="flex justify-between items-center">
  <p class="pl-10 ">
  <span class="m-3 font-light text-gray-500 dark:text-gray-400"><strong class="font-semibold text-gray-900 text-black"><%= @group.members_count %></strong> Members</span>
  <span class="m-3 font-light text-gray-500 dark:text-gray-400"><strong class="font-semibold text-gray-900 text-black"><%= @group.posts_count %></strong> Posts</span>
  <span class="m-3 font-light text-gray-500 dark:text-gray-400"> Last active <strong class="font-semibold text-gray-900 text-black"><%= @group.last_active %></strong> days ago</span>
</p>
<% if !current_user.joined?(@group) %>
<%= link_to raw('<i class="fa-solid fa-arrows-to-circle"></i>Join group'), user_group_join_path(user_id: current_user.id, group_id: @group.id), class: "overlay-btn blue" %>

  <% elsif !can? :manage, @group %>
<%= link_to raw('<i class="fa-solid fa-person-walking-arrow-right"></i>Leave group'), user_group_leave_path(user_id: current_user.id, group_id: @group.id), class: "overlay-btn" %>
<% end %>
  <% if can? :manage, @group %>
    <button type="button" class="overlay-btn green" data-action="modal#renderUpdateForm" > <i class="fa-solid fa-list-check"></i> Manage </button>

  <% end %>
</div>
<hr class="mt-2 mb-3"/>
</div>
