
<div id="<%= dom_id @post %>" data-controller="modal">

<%= form_with(model: @post, class: "contents", url: user_group_posts_path(user_id: current_user, group_id: params[:group_id]))  do |form| %>

  <div class="my-5 p">
    <%= form.label :title %>
    <%= form.text_field :title, class: "dark:bg-slate-800 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>
  <div class="my-5 p">
    <%= form.label :body %>
    <%= form.text_area :body, class: " dark:bg-slate-800 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>
  <div class="inline">
    <%= form.submit class: "overlay-btn blue",
    "data-action": "modal#toggleManageGroup", target:  "edit_" %>

  </div>
<% end %>
</div>

