<div class="">
<h1 class=" text-3xl text-green-600 m-3">Groups</h1>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="heading flex justify-between">
    <div class="border-2 border-sky-500 inline p-3">
      <%= link_to 'All Group', user_groups_path(current_user), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3", data: {turbo_stream: ""} %>
      <%= link_to 'Created by me', user_groups_path(current_user, filter: "mine"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3", data: {turbo_stream: ""} %>
      <%= link_to 'Where I\'m a member', user_groups_path(current_user, filter: "member"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3", data: {turbo_stream: ""} %>
    </div>
      <button href="" class=" inline-block rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
      data-controller="modal" data-action="modal#toggleManageGroup" target="edit_">
        Create Group
      </button>
  </div>

        <%= render(NewGroupComponent.new(group: Group.new)) %>
  <div id="groups" class="min-w-full">

      <%= render(GroupComponent.with_collection(@groups)) %>
      <%# <%= render(GroupComponent.new(group: @groups.first)) %>
  </div>
</div>
