<div class="">
<h1 class="title">Groups</h1>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="heading flex justify-between border-b-4 border-sky-500 pb-4 mb-4">
    <div class=" inline p-3">
      <%= link_to raw('<i class="fa-solid fa-filter-circle-xmark m-1"></i>All Group'), user_groups_path(current_user), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3", data: {turbo_stream: ""} %>
      <%= link_to raw('<i class="fa-solid fa-spa m-1"></i>Created by me'), user_groups_path(current_user, filter: "mine"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3", data: {turbo_stream: ""} %>
      <%= link_to raw('<i class="fa-solid fa-landmark-dome m-1"></i>Where I\'m a member'), user_groups_path(current_user, filter: "member"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3", data: {turbo_stream: ""} %>
    </div>
      <button href="" class="overlay-btn blue"
      data-controller="modal" data-action="modal#toggleManageGroup" target="edit_">
        <i class="fa-solid fa-plus"></i> Create Group
      </button>
  </div>

        <%= render(NewGroupComponent.new(group: Group.new)) %>
  <div id="groups" class="min-w-full">

      <%= render(GroupComponent.with_collection(@groups)) %>
      <%# <%= render(GroupComponent.new(group: @groups.first)) %>
  </div>
</div>
