<div class="w-full">

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="heading">
    <div>
      <%= link_to 'All Group', user_path(current_user) %>
      <%= link_to 'Created by me', user_path(current_user, filter: "mine") %>
      <%= link_to 'Where I\'m a member', user_path(current_user, filter: "member") %>
    </div>
      <div class="flex justify-between items-center">
      <%# <%= link_to 'New group', new_user_group_path(current_user), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <button href="" class="rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium">
        Create Group
      </button>
    </div>

  </div>

  <div id="new_group" class="min-w-full hidden">
        <div class="mx-auto md:w-2/3 w-full">
        <%= render(NewGroupComponent.new(group: Group.new, current_user: current_user)) %>
    <%# <h1 class="font-bold text-4xl">New group</h1> %>
    <%# <%= render "form", group: @group %>
      </div>
  </div>
      <%# <%= render "/groups/form", group: @groups.first %>
  <div id="groups" class="min-w-full">
      <%= render(GroupComponent.with_collection(@groups, current_user: current_user)) %>
  </div>
</div>
