<div class="">

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="heading flex justify-between">
    <div class="border-2 border-sky-500 inline p-3">
      <%= link_to 'All Group', user_path(current_user), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3" %>
      <%= link_to 'Created by me', user_path(current_user, filter: "mine"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3" %>
      <%= link_to 'Where I\'m a member', user_path(current_user, filter: "member"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3" %>
    </div>
      <button href="" class=" inline-block rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium">
        Create Group
      </button>
  </div>

  <div id="new_group" class="min-w-full hidden">
        <div class="mx-auto md:w-2/3 w-full">
        <%= render(NewGroupComponent.new(group: Group.new)) %>
      </div>
  </div>
  <div id="groups" class="min-w-full">

      <%= render(GroupComponent.with_collection(@groups)) %>
  </div>
</div>
