<!DOCTYPE html>
<html>
  <head>
    <title>SimpleroTakeHomeTestRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/4bbe1afaef.js" crossorigin="anonymous"></script>
  </head>

  <body class="dark:bg-slate-700 p">
    <main class="mt-28 px-5 flex mr-0 ">
      <p> <%= notice %></p>
      <%= yield %>
    </main>
  </body>
</html>
